@using App.Domain.Core.Hw20.CarModel.AppService
@using App.Domain.Core.Hw20.CarModel.Entities
@using Hw20.Endpoints.Mvc.Models.Request
@model AddPageResultViewModel
@inject ICarModelAppService car
@inject CancellationToken cancellation

<div class="container px-5 my-5">
    <form method="post" asp-controller="Request" asp-action="Add">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" asp-for="@Model.AddRequestViewModel.NationalCode" />
            <label asp-for="@Model.AddRequestViewModel.NationalCode"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.NationalCode"></span>
        </div>

      

        <div>
            <div class="form-floating mb-3">
                <select class="form-control" asp-for="@Model.AddRequestViewModel.CarModel">
                    <option selected disabled value="">Please Select...</option>
                    @foreach (var item in await car.GetAll(cancellation))
                    {
                        <option>@item.Name</option>
                    }
                </select>
                <label asp-for="@Model.AddRequestViewModel.CarModel"></label>
                <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.CarModel"></span>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" asp-for="@Model.AddRequestViewModel.LicensePlate" />
            <label asp-for="@Model.AddRequestViewModel.LicensePlate"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.LicensePlate"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="@Model.AddRequestViewModel.YearOfCar" />
            <label asp-for="@Model.AddRequestViewModel.YearOfCar"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.YearOfCar"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="@Model.AddRequestViewModel.DateVisit" />
            <label asp-for="@Model.AddRequestViewModel.DateVisit"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.DateVisit"></span>
        </div>

        <div class="form-floating mb-3">     
            <input type="number" class="form-control" asp-for="@Model.AddRequestViewModel.PhoneNumber" />
            <label asp-for="@Model.AddRequestViewModel.PhoneNumber"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.PhoneNumber"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="@Model.AddRequestViewModel.Address" />
            <label asp-for="@Model.AddRequestViewModel.Address"></label>
            <span class="text-danger" asp-validation-for="@Model.AddRequestViewModel.Address"></span>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>

        </div>

        
        <div class ="form-floating mb-5">
            <h1 style="text-align:center" class="text-danger">@Model.Result</h1>
       </div>

    </form>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}