@using Hw20.Endpoints.Mvc.Models.Admin
@model AccountPageResultViewModel
<div class="container px-5 my-5">
    <h1 style="text-align:center; color:blueviolet;">Login</h1>
    </div>

    <form method="post" asp-controller="Admin" asp-action="Login">

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="@Model.loginViewModel.Username" />
        <label asp-for="@Model.loginViewModel.Username"></label>
        <span class="text-danger" asp-validation-for="@Model.loginViewModel.Username"></span>
        </div>

        <div class="form-floating mb-3">
        <input class="form-control" asp-for="@Model.loginViewModel.Password" />
        <label asp-for="@Model.loginViewModel.Password"></label>
        <span class="text-danger" asp-validation-for="@Model.loginViewModel.Password"></span>
        </div>

        
        <div class="d-grid mb-3">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
        </div>

  
       
       
        <div class="form-floating mb-5">
            <h1 style="text-align:center" class="text-danger">@Model.LoginMessage</h1>
        </div>


  
    
    

       

    </form>

<div style="text-align:center; font-size:16px;">
    <p>
        Don&rsquo;t have an account ? <a asp-controller="Admin" asp-action="SignUp"> Sign up </a>
    </p>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
