@using App.Domain.Core.Hw20.CarModel.Entities
@model CarModel

<div class="container px-5 my-5">
    <form method="post" asp-action="UpdateCarModel">

        <div class="form-floating mb-3">
            <input disabled value="@Model.Id" class=" form-control" name="id" type="text" placeholder="Id" data-sb-validations="required" />
            <label for="id">Id</label>
        </div>

       

        <div class="form-floating mb-3">
            <input disabled value="@Model.Name" class=" form-control" name="name" type="text" placeholder="Name Car" data-sb-validations="required" />
            <label for="name">Name Car</label>
        </div>

        <div>
            <div class="form-floating mb-3">
                <select disabled name="company" class="form-select" id="validationCustom04" required>
                    <option disabled selected value="@Model.Company.Name">@Model.Company.Name</option>
                    

                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
        </div>

        <div class="form-floating mb-5">
            <h1 style="text-align:center" class="text-danger">@ViewBag.ErrorMessage</h1>
        </div>

    </form>
</div>
